{% if site.fixed_navigation %}
<div class="sticky contain-to-grid" data-options="">
{% endif %}
  <nav class="top-bar" data-topbar>

    <ul class="title-area">
        <li class="name">
          <h1><a href="{{ root_url }}/">Netineti<span>design</span></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="main-navigation right">

        <li class="has-dropdown{% if page.url == '/index.html' or page.url == '/index.html#servicios' or page.url == '/index.html#web_standard' or page.url == '/index.html#web_avanzada' %} active{% endif %}">
            <a href="{{ root_url }}/#mis-servicios">Servicios</a>

            <ul class="dropdown">
              <li><a class="scroll" href="{{ root_url }}/#web-standard">Web Standard</a></li>
              <li><a class="scroll" href="{{ root_url }}/#web-avanzada">Web Avanzada</a></li>
              <li><a class="scroll" href="{{ root_url }}/#proceso">Proceso</a></li>
              <li><a class="scroll" href="{{ root_url }}/#tarifas">Tarifas</a></li>
            </ul>

        </li>
        <li class="has-dropdown{% if page.url == '/blog/index.html' or page.url == '/blog/archives/index.html' %} active{% endif %}">
        <a href="{{ root_url }}/blog">Blog</a>
        <ul class="dropdown">
          <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
        </ul>
        </li>
        <li {% if page.url == '/sobre-mi/index.html' %} class="active"{% endif %}><a href="{{ root_url }}/sobre-mi">Sobre mi / Contacto</a></li>

      </ul>

  
    </section>
  </nav>
{% if site.fixed_navigation %}
</div>
{% endif %}