// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Mis fuentes

@font-face {
    font-family: 'bira';
    src: url('/fonts/bira.eot');
    src: url('/fonts/bira.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bira.woff') format('woff'),
         url('/fonts/bira.ttf') format('truetype'),
         url('/fonts/bira.svg#bira') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Webfont: LatoLatinLight-Regular  para el texto */
@font-face {
    font-family: 'LatoLatinLight';
    src: url('/fonts/LatoLatinLight-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/LatoLatinLight-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/LatoLatinLight-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular para titulares */
@font-face {
    font-family: 'LatoLatin';
    src: url('/fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/LatoLatin-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

$text-color: #ddd;
$titular-color: #7ACCC8;
$titular-hover: #4AAAA5;
$link-color: #A3D39C;
$link-hover: #74AF6C;
$black: #2B2B2A;


h1, h2, h3 {
	color: $titular-color;
}
.entry-content p, article p, ul li, ol li {
	font-weight: 300;
	font-size: 1.3em !important;
	line-height: 1.5em;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
a {
	color: $link-color;
	&:hover { color: $link-hover;}
}


html {
	background: $black;
	border-top: 5px solid $link-color;
}

body {
	
	font-family: $sans !important;
	font-size: 0.9em;
	color: $text-color;
	> header {
		background: $black;
		text-align: center;

		h1 {
			a, a:visited {
			font-family: "bira";
			color: #ecf0f1;
			&:hover { color: $text-color; }
			}
		}
	}
	> nav {
		a {
			font-family: $sans;
			font-size: 1em;
			padding-top: 0.3em;
			line-height: 1.5em;
			color: $text-color !important;
			&:hover { color: #fff !important; }
		}
		li + li {
			border-left: 0px;

			a {
				border-left: 0px;
			}
		}
	}

	> div {
		background: $black;
		border-bottom: 0px;

		> div {
			background: $black;
			border-right-width: 0px;
		}
	}

	> footer {
		background: $black;
		text-shadow: none;
		color: #AAAAAA;
	  	padding-left: 0;
	  	padding-right: 0;
		border-top: 0px;
	}


}

article {
	
	background: none repeat scroll 0 0 #444444;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
    padding: 20px;
    padding-top: 2em;

	.entry-content {
		h3 {
			font-style: italic
		}
	}

	ul, ol {
		margin-left: 2em;
	}

	p code, p code a{
    color: $black !important;
    text-shadow: none;
    text-decoration: none;
    &:hover {color: $black !important; }
	}

	a, a:visited, a:active, {
		text-decoration: none;
		color: $link-color;
		&:hover { color: $link-hover; }
	}

	header {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
		}
	}
	
}

#content {
	div.pagination {
		background: none repeat scroll 0 0 transparent;
		margin: 0 10px;  
		font-size: 0.95em;
		padding-bottom: 1.5em;
		margin-top: 4em;
		position: relative;
		text-align: center;		
		border-top: dotted 1px #D1D1D1;
		border-bottom: dotted 1px #D1D1D1;

		a:hover {
			color: $text-color;
		}
	}

	.blog-index {
		article {
			padding-top: 4em;
			margin-top: 2em;
			background: none repeat scroll 0 0 #444444; 

			header {
				padding-left: 0;
  				padding-right: 0;
			}
		}

		h1 {
			a {
				font-family: $heading-font-family;
				font-weight: 400;
			}

			a:hover {
				color: $titular-hover !important;
				text-decoration: none;
			}
			
		}

		a[rel="full-article"] {
    		font-family: $sans;
    		background: none repeat scroll 0 0 $text-color !important;
			}

		a[rel="full-article"]:hover {
				background: none repeat scroll 0 0 $titular-hover !important;
			}

	}

	.hentry {
		h1.entry-title {
			font-family: $heading-font-family;
			font-weight: 400;
			font-size: 2.2em;
		}
	}

}

aside {
	display: none; // cambia esto si quieres tu sidebar
}


#blog-archives {
	h1 a {
    color: $titular-color;
    &:hover { color: $titular-hover; }
    text-decoration: none !important;
    font-family: 'LatoLatin';
	}

	

	a.category:hover {
		color: $link-color;
	}

	article {
		box-shadow: none;
	}
}

article img, article video, article .flash-video {
    //border: 0.5em solid rgba(127, 140, 141, 0.5);
    border-radius: 0.3em;
    //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
article img, article video, article .flash-video {
    border: none;
    box-shadow: none;
}
